<html>
    {{>head}}
  <body>
    <div class="main-content">
      {{>header}}
      <p>Here you can find info on <span class='helpInfo'>{{info}}</span> </p>
    </div>

    {{>footer}}

  </body>
</html>